version: '3.8'

services:
  web:
    image: ghcr.io/daniilvolobuev/repo:latest
   # build: .
    deploy:
      replicas: 3 
    healthcheck:
      test: ["CMD-SHELL", "python -c 'import urllib.request; urllib.request.urlopen(\"http://localhost:5000/metrics\")' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s 
    networks:
      - app-network
    environment:
      FLASK_APP: app.py
      REDIS_HOST: redis 
    depends_on:
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/ssl:ro
    depends_on:
      web:
        condition: service_healthy
    networks:
      - app-network

  redis:
    image: "redis:alpine"
    container_name: redis
    volumes:
      - redis_data:/data
    networks:
      - app-network 

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml:ro
    ports:
      - "9090:9090"
    networks:
      - app-network 

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - app-network 
    volumes:
      - grafana_data:/var/lib/grafana  

      
  alertmanager:
      image: prom/alertmanager:latest
      container_name: alertmanager
      volumes:
        - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      ports:
        - "9093:9093"
      networks:
        - app-network

  loki:
      image: grafana/loki:latest
      container_name: loki
      ports:
        - "3100:3100"
      command: -config.file=/etc/loki/local-config.yaml
      networks:
        - app-network
  
  promtail:
      image: grafana/promtail:latest
      container_name: promtail
      volumes:
        - /var/lib/docker/containers:/var/lib/docker/containers:ro
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - ./promtail-config.yml:/etc/promtail/config.yml:ro
      command: -config.file=/etc/promtail/config.yml
      networks:
        - app-network
volumes:
  redis_data:
  grafana_data:  
networks:
  app-network:
    driver: bridge
