global:
  scrape_interval: 15s

rule_files:
  - "/etc/prometheus/alert_rules.yml"


alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093
          
scrape_configs:
  - job_name: 'flask'
    static_configs:
        - targets: ['web:5000']

  # Задание для сбора системных метрик через cAdvisor
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
